.DS_Store

frontend/node_modules
frontend/dist
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

backend/node_modules/
backend/.firebase
backend/.firebaserc
backend/logs
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/firebase-debug.log*
backend/firebase-debug.*.log*
backend/build/Release

.idea
.vscode

